<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Nunjucks템플릿
        정적인 요소 (변하지 않는)  내용들은 기존에 HTML로(태그) 작성하고, 
        동적인 요소 (변하는) 내용들은 Nunjucks로 작성(js활용)

        * 백엔드에서 넘어온 값을 html안에 표시
    -->

    <h1>{{name}}님의 메인페이지입니다!</body>h1>

    <!-- 변수 선언 
        선언 방법 : 중괄호 퍼센트 퍼센트 중괄호
        # 왜냐하면 바디 안에는 태그만 인식하기 때문에, 태그가 아닌 다른 것들은 중괄호 퍼센트 퍼센트 중괄호로 선언해야함
    -->
    {% set class = "Node" %}
    <p>{{class}} 수업에 참여 중입니다.</p>

    <!-- 조건문 생성
        if, elif, else -- 자바에서는 else if를 쓰는데 넌적스는 elif를 사용함
        * endif 처리를 꼭 해줘야 한다 *
    -->

    <!-- 변수 선언 -->
    {%set time = '오후'%}
    <!-- 조건문 작성 -->
    {% if time == '오전'%}
    <p>Node 수업입니다</p>
    {% elif time == '오후' %}
    <p>React 수업입니다</p>
    {% else %}
    <p>자율 학습입니다</p>
    {% endif %}

    <!-- 반복문 사용 
        for i in 배열
        * endfor 처리를 꼭 해줘야 한다 *
    -->

    {% set arr = [1, 2, 3, 4, 5] %}
    <table border="1">
        <tr>
           {% for i in arr %}
                <td>{{i}}</td>
           {% endfor %}
        </tr>
        

    </table>

    <!-- 다른 페이지를 가져와서 현재 페이지에 추가하고 싶다면 
        header(머리), footer(발)등의 페이지는 거의 고정되어있는 형태이다.(ex 네이버 홈페이지 상단, 하단) 
    -->
    
    {% include "footer.html" %}
</body>
</html>